<body>
<img src="./assets/images/login.JPG" width="100" height="50">
<form [formGroup]="form">
  <fieldset>
    <div class="form-field">
      <label>Username:</label>
      <input name="username" formControlName="username">
    </div>
    <div class="form-field">
      <label>Password:</label>
      <input name="password" formControlName="password"
             type="password">
    </div>
  </fieldset>
  <div class="form-buttons">
    <button  class="button button-primary" (click)="login()">Login</button>
    <button style="float:end" [routerLink]="['/signup','signup']">Sign Up</button>
  </div>
</form>

</body>

