<table style="float: left">
  <caption>Project Resources</caption>
  <thead>
  <tr>
    <th>Resource Name</th>
    <th>ID</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let resource of resourceList">
    <td>{{resource.resourceName}}</td>
    <td>{{resource.resourceId | json}}</td>
  </tr>
  </tbody>
</table>
<div style="display: flex; align-items: center;">
  <label for="projects">Select a Project: </label>
  <select name="projects" id="projects" [(ngModel)]="selectedProjectId">
    <option *ngFor="let project of projectList" [ngValue]="project.projectId">{{project.projectId | json}}</option>
  </select>

  <button (click)="createProject()">Create Project</button>
  <button (click)="deleteProject()">Delete Project</button>
  <button (click)="addResourcesToProject()">Add Resources</button>
  <button (click)="removeResourcesFromProject()">Remove Resources</button>
  <button (click)="tranferProjectId()" [routerLink]="['/formula','formula']">Go To Formula Page</button>
</div>
