body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
  width: 40%;
  margin-left: 350px;
}

button{
  background-color: coral;
  padding: 5px;
  color: white;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
